.about1, .about2{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 20px;
}
.about2{
    flex-direction: row-reverse
}
.img-border{
    border: black 5px solid;
    border-radius: 15px;
    margin: 3em;
    width: 30vw;
    height: 40vh;
}
.img-border img{
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    width: 30vw;
    height: 40vh;
}

.img-border img:hover{
    transform: translateY(5px) translateX(5px);
}
.text{
    width: 30vw;
}
.greentext{
    color: green;
    font-weight: bolder;
}
.topic{
    font-size: 1.7em;
    font-weight: 700;
}