.card1, .card2, .card3{
    background: rgb(166,164,159);
    font-weight: 500;
    width: 20%;
    height: 2.5em;
    padding: 1em;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
}

.card1{
    top: 5px;
    left: 15em;
}
.card1:hover{
    transform: scale(0.8)
}
.card2{
    top:5em;
    right: 25em;
}
.card2:hover{
    transform: scale(0.8)
}
.card3{
    top: 9em;
    left: 20em;
}

.card3:hover {
    transform: scale(0.8)
}