.card1, .card2, .card3{
    background: rgb(166,164,159);
    font-weight: bolder;
    width: max-content;
    padding: 1em;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
    flex-direction: row;
}

.card1{
    margin: 0 auto;
    
}
.card1:hover{
    transform: scale(0.8)
}
.card2{
    transform: translate( 50em, -30em)    
}
.card2:hover{
    transform: translate(50em, -30em) scale(0.8)
}
.card3{
    transform: translate(10em, -35em)
}

.card3:hover {
    transform: translate(10em, -35em) scale(0.8)
}