.navbar{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}
.logo{
    width: 5em;
    height: 2em;
}
.navbar h1{
    font-family: Cursive;
}
.navbar ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.nav-item{
    padding: 1em;
    cursor: pointer;
}
.nav-item:hover{
    border: darkgreen 1px solid;
}
.navbar button{
    padding: 1em;
    border-radius: 20px;
    animation: dropin 2s 3s ease-in;
}
@keyframes dropin{
    from{
        opacity: 0
    }
    to{
        opacity: 0.8
    }
}
.main{
    background: url("farmers.jpg");
    background-size: cover;
    opacity: 0.8;
    color: white;
    animation: dropin 0.5s 0.5s ease-in;
}