.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    z-index: 1;
    position: absolute;
    top: 0;
}
.logo{
    width: 5em;
    height: 2em;
}
.navbar h1{
    font-family: Cursive;
}
.navbar ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 30%;
}

.nav-item{
    padding: 1em;
    cursor: pointer;
}
.nav-item:hover{
    border: darkgreen 3px solid;
}
.navbar button{
    padding: 1em;
    border-radius: 20px;
    position: relative;
    top: 0;
    left: 80%;
    animation: dropin 2s 0s;
}
@keyframes dropin{
    from{
        margin-top: -100%
    }
    to{
        margin: 0;
    }
}
.main{
    color: white;
    animation: dropin 0.5s 0s;
}
.farmer{
    width: 100vw;
    height: 110vh;
    filter: brightness(66%) contrast(105%) saturate(100%) blur(2.1px) hue-rotate(0deg);
}